<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Afk.ZoneInfo" version="1.4.0.0" targetFramework="wpa81" />
  <package id="Coding4Fun.Toolkit.Audio" version="2.0.8" targetFramework="wpa81" />
  <package id="Coding4Fun.Toolkit.Complete" version="2.1.6" targetFramework="wpa81" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.1.7" targetFramework="wpa81" />
  <package id="Coding4Fun.Toolkit.Net" version="2.0.8" targetFramework="wpa81" />
  <package id="Coding4Fun.Toolkit.Storage" version="2.0.8" targetFramework="wpa81" />
  <package id="Google.Apis" version="1.14.0" targetFramework="wpa81" />
  <package id="Google.Apis.Auth" version="1.14.0" targetFramework="wpa81" />
  <package id="Google.Apis.Core" version="1.14.0" targetFramework="wpa81" />
  <package id="Google.Apis.Oauth2.v2" version="1.14.0.540" targetFramework="wpa81" />
  <package id="LumiaImagingSDK" version="2.0.208" targetFramework="wpa81" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="wpa81" />
  <package id="NotificationsExtensions.Portable" version="1.0.7" targetFramework="wpa81" />
  <package id="QKit" version="0.4.1" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
  <package id="TinyMCE" version="4.3.7" targetFramework="wpa81" />
  <package id="Toastinet" version="2.8" targetFramework="wpa81" />
  <package id="WinUWPImageCropControl" version="1.0.0" targetFramework="wpa81" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="wpa81" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="wpa81" />
</packages>